<ul>
    <br/>
    user options:
    <li><a href="{% url 'balance_manager:create_balance' %}">create balance</a></li>
    <li><a href="{% url 'balance_manager:balance_list' %}">view balances</a></li>
    <li><a href="{% url 'balance_manager:select_fiat' %}">select fiat currency</a></li>
    <li><a href="{% url 'balance_manager:select_fiat_exchange' %}">select fiat exchange</a></li>
    <li><a href="{% url 'balance_manager:select_crypto_exchange_list' %}">select crypto exchange</a></li>
    <br/>
    additional information:
    <li><a href="{% url 'balance_manager:exchanges' %}">supported exchanges</a></li>
</ul>